<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="main-menu">
        <button onclick="window.location.href='index.html'">Home</button>
        <button onclick="window.location.href='tags.html'">Curated</button>
        <button onclick="window.location.href='posts.html'">Posts</button>
        <button onclick="window.location.href='rss.xml'">RSS</button>
      </nav>
    </header>
    <main>
      {{ content | safe }}
    </main>
    {% include footer.html %}
  </body>
</html>



