<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ metadata["title"] }}</title>
    <link href="static/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="main-menu">
        <button onclick="window.location.href='index.html'">⯀ Home</button>
        <button onclick="window.location.href='books.html'">Curated</button>
        <button onclick="window.location.href='posts.html'">Posts</button>
        <button onclick="window.location.href='rss.xml'">RSS</button>
      </nav>
    </header>
    <main>
      <h1>Gautam Singh</h1>
      <hr>
      <h2>About</h2>
      <table class="personal-info">
        <thead>
          <tr>
            <th colspan="2"><b>Personal Information</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Name</th>
            <td>Gautam Singh</td>
          </tr>
          <tr>
            <th>Current Employment</th>
            <td>N.A.</td>
          </tr>
          <tr>
            <th>Previous Employments</th>
            <td>Research Intern, <a href="https://www.iitg.ac.in/">Indian Institute of Technology, Guwhathi</a></td>
          </tr>
          <tr>
            <th>Education</th>
            <td>BS/MS. Mathematics <br> <a href="https://www.iiserkol.ac.in/web/en/">Indian Institute of Science Education and Research, Kolkata</a></td>
          </tr>
        </tbody>
      </table>
      <br>
      <table class="contact">
        <thead>
          <tr>
            <th colspan="2"><b>Contacts</b></th>
          </tr>
          <tbody>
            <tr>
              <th>Email</th>
              <td><a href="mailto:gautam6599123@gmail.com">gautam6599123@gmail.com</a>
              </td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>+91-9452710526</td>
            </tr>
            <tr>
              <th>LinkedIn</th>
              <td><a href="https://www.linkedin.com/in/gautam-singh-81466a218/">Gautam Singh</a>
              </td>
            </tr>
            <tr>
              <th>GitHub</th>
              <td><a href="https://github.com/pikachu-cell">pikachu-cell</a>
              </td>
            </tr>
          </tbody>
      </table>
      {{ metadata["content"] | safe }}
    </main>
    {% include "footer.html" %}
    <!-- <footer> -->
    <!--   <p>© 2025 Gautam Singh</p> -->
    <!-- </footer> -->
  </body>
</html>

